<div class="container">
    <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
        <!-- Button zum Ausfahren der Sidebar -->
        <button class="sidebar-toggle-arrow" (click)="toggleSidebar()">
            <span></span>
            <span></span>
        </button>
        
        <!-- Navigation der Sidebar -->
        <nav>
            <ul>
                <li routerLink="/home-page"><a routerLink="/home-page">Home</a></li>
                <li routerLink="/film-list"><a routerLink="/film-list">Film Liste</a></li>
                <li routerLink="/list-creator"><a routerLink="/list-creator">Listen erstellen</a></li>
                <li class="user"><a>User</a></li>
                <li routerLink="/user-login"><a routerLink="/user-login">Registrieren/Einlogen</a></li>
                
            </ul>
        </nav>      
    </div>

    <header>
        <button class="sidebar-toggle" (click)="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <div class="header">
        <h1>User Profil</h1>
    </div>
    <div class="haupt-container">
        
        
        <button class="logout-button" (click)="logout()">Logout</button>
        <div class="user-card">
            <div class="user-field">
                <label for="vorname"><strong>Nutzername:</strong></label>
                <span>{{ user.vorname }}</span>
            </div>
            <div class="user-field">
                <label for="geburtsdatum"><strong>Geburtsdatum:</strong></label>
                <span>{{ user.geburtsdatum }}</span>
            </div>
            <div class="user-field">
                <label for="email"><strong>E-Mail:</strong></label>
                <span>{{ user.email }}</span>
            </div>
        </div>
        <div class="list-section">
            <h2>Bewertete Filme:</h2>
            <div class="list-container">
                <div class="list-item" *ngFor="let item of user.liste1; let i = index">
                    <input type="text" [(ngModel)]="user.liste1[i]" />
                </div>
            </div>
        </div>
        <div class="list-section">
            <h2>Kommentierte Filme:</h2>
            <div class="list-container">
                <div class="list-item" *ngFor="let item of user.liste2; let i = index">
                    <input type="text" [(ngModel)]="user.liste2[i]" />
                </div>
            </div>
        </div>
        <div class="list-section">
            <div class="create-list-container">
                <input type="text" placeholder="Name der Liste" [(ngModel)]="newListName" />
                <button (click)="createList()">Create List</button>
            </div>
        </div>
    </div>
</div>
