.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.header h1 {
    font-family: 'Arial', sans-serif;
    color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
}

.haupt-container {
    position: relative; /* Ensures that the child elements can be positioned absolutely */
    width: 50%;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.logout-button:hover {
    background-color: #c82333;
}

.user-card, .list-section {
    margin-bottom: 20px;
}

.user-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.user-field label {
    margin-bottom: 5px;
}

.user-field span {
    font-size: 16px;
    color: black;
}

.list-section h2 {
    margin-bottom: 10px;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.list-item input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
}

.create-list-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.create-list-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.create-list-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.create-list-container button:hover {
    background-color: #0056b3;
}
