<div class="container">
    <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
        <!-- Button zum Ausfahren der Sidebar -->
        <button class="sidebar-toggle-arrow" (click)="toggleSidebar()">
            <span></span>
            <span></span>
        </button>
        
        <!-- Navigation der Sidebar -->
        <nav>
            <ul>
                <li><a routerLink="/home-page">Home</a></li>
                <li><a routerLink="/user-login">Registrieren/Einlogen</a></li>
                <li><a routerLink="/film-list">Film Liste</a></li>
                <li class="user"><a>User</a></li>
            </ul>
        </nav>      
    </div>

    <header>
        <button class="sidebar-toggle" (click)="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    
    <div class="top_head">
        <h1>User Profil</h1>
    </div>

    <div class="user-card" *ngIf="user">
        <h2>{{ user.name }}</h2>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Mitglied seit:</strong> {{ user.joinDate | date }}</p>
        <p><strong>Bewertete Filme:</strong></p>
        <ul>
            <li *ngFor="let movie of user.ratedMovies">{{ movie.title }} - {{ movie.rating }}/10</li>
        </ul>
    </div>
</div>
