<div class="container">
    <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
        <button class="sidebar-toggle-arrow" (click)="toggleSidebar()">
            <span></span>
            <span></span>
        </button>
        <nav>
            <ul>
                <li routerLink="/home-page"><a routerLink="/home-page">Home</a></li>
                <li routerLink="/film-list"><a routerLink="/film-list">Alle Filme</a></li>
                <li routerLink="/list-creator"><a routerLink="/list-creator">Listen erstellen</a></li>
                <li routerLink="/list-listen"><a routerLink="/list-listen">Listenbrowser</a></li>
                <li class="user"><a>User</a></li>
                <li routerLink="/user-login"><a routerLink="/user-login">Registrieren/Einlogen</a></li>
            </ul>
        </nav>
    </div>

    <header>
        <button class="sidebar-toggle" (click)="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>
    <div class="header">
        <h1>User Profil</h1>
    </div>
    <div class="haupt-container">
        <button class="logout-button" (click)="logout()">Logout</button>
        <div class="user-card">
            <div class="user-field">
                <label for="vorname"><strong>Nutzername:</strong></label>
                <span *ngIf="!isEditingUsername">{{ user.Nutzername }}</span>
                <input *ngIf="isEditingUsername" [(ngModel)]="user.Nutzername" />
                <button (click)="toggleEdit('username')">{{ isEditingUsername ? 'Save' : 'Edit' }}</button>
            </div>
            <div class="user-field">
                <label for="email"><strong>E-Mail:</strong></label>
                <span *ngIf="!isEditingEmail">{{ user.Email }}</span>
                <input *ngIf="isEditingEmail" [(ngModel)]="user.Email" />
                <button (click)="toggleEdit('email')">{{ isEditingEmail ? 'Save' : 'Edit' }}</button>
            </div>
            <div class="user-field">
                <label for="password"><strong>Passwort:</strong></label>
                <input type="password" [(ngModel)]="user.Passwort" placeholder="Neues Passwort eingeben" />
                <button (click)="updatePassword()">Ändern</button>
            </div>
        </div>
    </div>
</div>
