<div class="container">
    <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
        <button class="sidebar-toggle" (click)="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav>
            <ul>
                <li><a routerLink="/home-page">Home</a></li>
                <li><a routerLink="/user-login">Registrieren/Einlogen</a></li>
                <li class="film-liste"><a>Film Liste</a></li>
                <li><a routerLink="/film">Filme</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-list">
        <div class="main-list-container">
            <div class="main-list-items" *ngFor="let film of films">
                <div class="list-item">
                    <img [src]="film.image_url" alt="{{film.title}}">
                    <div class="item-info">
                        <h3>{{film.title}}</h3>
                        <div class="item-tags">
                            <span *ngFor="let tag of film.tags">{{tag}}</span>
                        </div>
                        <p>{{film.description}}</p>
                    </div>
                </div>        
            </div>
         </div>
    </div>
</div>


