<div class="container">
    <header>
        <h1>Wilkommen zu CineScoreHub</h1>
        <p>Die Filmbewertungsseite</p>
    </header>

    <main>
        <section class="featured-movies">
            <h2>Herrausragende Filme</h2>
            <!--Hier Filme anzeigen die herrausragend sind-->
            <div class="movie-card">
                <img src="movie1.jpg" alt="Movie 1">
                <h3>Film 1</h3>
                <p>Bewertung: </p>
            </div>
            <!-- Weiter Filmkarten hier einfügen-->
        </section>

        <section class="about-us">
            <h2>Über uns</h2>
            <p>CineScoreHub lässt dich Filme bewerten.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 CineScoreHub. All rights reserved</p>
    </footer>
</div>