/* Allgemeine Stile */
.container {
    display: flex;
    position: relative; /* Positionierung relativ für die Sidebar */
    z-index: 100;
    color: #fff;
}

/* Sidebar-Stile */
.sidebar {
    width: 250px;
    top: 20px;
    height: calc(100vh - 50px); /* Verwenden Sie 100vh für die Höhe der Sidebar */
    background-color: #333;
    position: fixed; /* Ändern Sie die Position auf fixed */
    left: 0;
    z-index: 1000;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(-3.5%);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.233);
}

.sidebar nav ul li.home a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

.sidebar nav ul li.home:hover {
    background-color: transparent;
}

/* Stil für den Pfeil */
.sidebar-toggle-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.sidebar-toggle-arrow:hover {
    background-color: rgba(255, 255, 255, 0.233);
    transition: background-color 0.3s ease;
}

.sidebar-toggle-arrow span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

/* Sidebar-Toggle-Stile */
.sidebar-toggle {
    position: absolute;
    left: 30px;
    top: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.233);
    transition: background-color 0.3s ease;
}

.sidebar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

.sidebar-close {
    position: absolute;
    right: 10px; /* Abstand zum rechten Rand der Sidebar */
    top: 50%; /* Zentrieren vertikal */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

/* Header-Stile */
.header-text {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px; /* Größerer Innenabstand für den Header */
    background: linear-gradient(to bottom, #000000, #444); /* Gradient von Blau nach Lila */
    color: #fff; /* Textfarbe auf Weiß */
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

h2 {
    font-size: 18px;
    margin: 10px 0 0;
}

/* Hauptinhalt-Stile */
main {
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.movie-card {
    width: 180px; /* Breite der Movie Cards */
    padding: 20px;
    background: #444;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
    transition: transform 0.3s ease; /* Animationseffekt bei Hover */
}

.movie-card:hover {
    transform: translateY(-5px); /* Beim Hover leicht nach oben verschieben */
}

.movie-card button {
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.movie-card button:focus {
    outline: none; /* Entfernt den Fokus-Rahmen */
}

.movie-card button:hover {
    text-decoration: underline; /* Unterstrich bei Hover */
}


.popular-categories {
    margin-top: 20px; /* Abstand nach oben */
    margin-bottom: 10px;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.category-buttons button {
    width: 220px; /* Breite der Movie Cards */
    height: 62px;
    padding: 10px 20px; /* Innenabstand */
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
    transition: transform 0.3s ease; /* Animationseffekt bei Hover */
}


.category-buttons button:hover {
    transform: translateY(-5px); /* Beim Hover leicht nach oben verschieben */
    text-decoration: underline; /* Unterstrich bei Hover */
}

.category-buttons button:focus {
    outline: none; /* Entfernt den Fokus-Rahmen */
}

.pagination-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.pagination-buttons button {
    background: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.pagination-buttons button:hover {
    background-color: rgb(88, 88, 88);
    transition: background-color 0.3s ease;
}

/* Slide Animation*/
.slide-left {
    animation: slideLeft 0.4s forwards;
}

.slide-right {
    animation: slideRight 0.4s forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Footer-Stile */
footer {
    position: fixed; /* Position auf fixed setzen */
    
    bottom: 0;
    width: 95%; /* Volle Breite */
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #444, #000000);
    color: #fff;
    border-radius: 5px;
}

/* Über uns-Stile */
.about-us {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
