<div class="container">
    <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
        <!-- Button zum Ausfahren der Sidebar -->
        <button class="sidebar-toggle-arrow" (click)="toggleSidebar()">
            <span></span>
            <span></span>
        </button>
        
        <!-- Navigation der Sidebar -->
        <nav>
            <ul>
                <li class="home"><a>Home</a></li>
                <li><a routerLink="/user-login">Registrieren/Einlogen</a></li>
                <li><a routerLink="/film-list">Film Liste</a></li>
                <li><a routerLink="/user">User</a></li>

            </ul>
        </nav>      
    </div>
    
    <!-- Main Content -->
    <div class="main-content">
        <header>
            <button class="sidebar-toggle" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header-text">
                <h1>Willkommen zu CineScoreHub</h1>
                <p>Die Filmbewertungsseite</p>
            </div>
        </header>

        <main>
            <section class="featured-movies">
                <h2>Hervorragende Filmlisten</h2>
                <!-- Hier Filme anzeigen, die hervorragend sind -->
                <div class="movie-card-container" [ngClass]="slideDirection">
                    <div class="movie-card" *ngFor="let movie of displayedMovies">
                        <p>{{movie.title }}</p>
                    </div>
                </div>
                <div class="pagination-buttons">
                    <button id="previousButton" (click)="previousPage();">Zurück</button>
                    <button id="nextButton" (click)="nextPage();">Weiter</button>
                </div>
            </section>

            <section class="about-us">
                <h2>Über uns</h2>
                <p>CineScoreHub ermöglicht es Ihnen, Filme zu bewerten.</p>
            </section>
        </main>

        <footer>
            <p>&copy; 2024 CineScoreHub. Alle Rechte vorbehalten.</p>
        </footer>
    </div>
</div>