<div class="container">
    <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
        <button class="sidebar-toggle-arrow" (click)="toggleSidebar()">
            <span></span>
            <span></span>
        </button>
        <nav>
            <ul>
                <li class="home"><a>Home</a></li>
                <li routerLink="/film-list"><a routerLink="/film-list">Alle Filme</a></li>
                <li routerLink="/list-creator"><a routerLink="/list-creator">Listen erstellen</a></li>
                <li routerLink="/list-listen"><a routerLink="/list-listen">Listenbrowser</a></li>
                <li routerLink="/user"><a routerLink="/user">User</a></li>
                <li routerLink="/user-login"><a routerLink="/user-login">Registrieren/Einlogen</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <header>
            <button class="sidebar-toggle" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header-text">
                <h1>Willkommen zu CineScoreHub</h1>
                <p>Die Filmbewertungsseite</p>
            </div>
        </header>

        <main>
            <section class="featured-movies">
                <h2>Hervorragende Filmlisten</h2>
                <div class="movie-card-container" [ngClass]="slideDirection">
                    <div class="movie-card" *ngFor="let item of getPagedItems(labels, currentPage, itemsPerPage)">
                        <button (click)="navigateToFilmList(item.value)">
                            {{ item.label }}
                        </button>
                    </div>
                </div>
                <div class="pagination-buttons">
                    <button id="previousButton" (click)="previousPage()">Zurück</button>
                    <button id="nextButton" (click)="nextPage()">Weiter</button>
                </div>
            </section>

            <section class="popular-categories">
                <h2>Beliebte Kategorien</h2>
                <div class="category-buttons">
                    <button (click)="navigateToFilmList('Action')">Action</button>
                    <button (click)="navigateToFilmList('Comedy')">Komödie</button>
                    <button (click)="navigateToFilmList('Drama')">Drama</button>
                    <button (click)="navigateToFilmList('Sci Fi')">Science Fiction</button>
                    <button (click)="navigateToFilmList('Horror')">Horror</button>
                </div>
            </section>

            <section class="about-us">
                <h2>Über uns</h2>
                <p>CineScoreHub ermöglicht es Ihnen, Filmlisten zu erstellen.</p>
            </section>
        </main>

        <footer>
            <p>&copy; 2024 CineScoreHub. Alle Rechte vorbehalten.</p>
        </footer>
    </div>
</div>