<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" [(ngModel)]="signupObj.username">

    <label for="password">Email:</label>
    <input type="email" id="password" formControlName="email" [(ngModel)]="signupObj.email">

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" [(ngModel)]="signupObj.password">

    <button (click)="onSignUp()" type="submit">Register</button>
  </form>
</div>
